body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  background-color:#e7e6e6;
}

a {
  color: #006633;
  text-decoration: none;
}

a:hover {
  color: #006633;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #006633;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #ffcc33;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #006633;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #FFCC33;
  line-height: 0;
}

.back-to-top:hover {
  background: #006633;
  color: #FFCC33;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #ffcc33;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #006633;
  border-top-color: #ffcc33;
  border-bottom-color: #ffcc33;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
#header {
  background: #006633;
  transition: all 0.5s;
  z-index: 997;
  padding: 8px 0;
  box-shadow: 10px 10px 10px  #FFCC33;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

#header .logo h1 {
  padding-left: 0px;
}

#header .logo a {
  color: #ffcc33;
}

#header .logo img {
  max-height: 40px;
  padding-bottom: 10px;
}

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0 10px 20px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffcc33;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
  color: #ffcc33;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color:  #fff;
}

.navbar a i,
.navbar a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #ffcc33;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  text-decoration: none;
  color: #fff;
}

.navbar a:hover i,
.navbar .active i,
.navbar .active:focus i,
.navbar li:hover>a i {
  color: #ffcc33;
}

.mobile-nav-toggle {
  color: #FFCC33;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

@media (max-width: 768px) {
  .survey .survey-form .row .dropdown .btn{
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(32, 38, 34, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 6px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #37423b;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #006633;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #006633;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

.survey .container {
  padding-top: 72px;
  padding-bottom: 70px;
}

.survey .container .survey-form .submit-button button {
  background-color: #006633;
  color: #FFCC33;
  box-shadow: 0 8px 16px 0 #ffcc33(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: 2px solid #ffcc33;
  width: 100px;
  border-radius: 8px;
  font-size: 20px;
}

.survey .container .survey-form .submit-button button:hover {
  box-shadow: 0 12px 16px 0 #ffcc33(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.survey .container .survey-form .row .dropdown button {
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 8px 16px 0 #000000(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: 1px solid #000000;
  border-radius: 8px;
  font-size: 15px;
}